<div class="pagetitle">
    <h1>Add Stocks</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item active">Stocks </li>
        <button class="btn btn-primary AddProduct">Add Stocks</button>
      </ol>
  
    
    </nav>
  </div><!-- End Page Title -->

<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Stock Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Stock Type</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Description</label>
      <textarea type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Stock Price</label>
      <textarea type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </textarea>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
