
*.dll
*.dll
*.sentinel
*.csproj
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.dll
*.csproj
*.dll
*.sentinel
*.cache
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.v1
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.v2
node_modules/
HMS-BackEnd/bin/
HMS-BackEnd/obj/
*.sentinel

HMS-BackEnd/obj/HMS-BackEnd.csproj.nuget.dgspec.json
HMS-BackEnd/Migrations/

HMS-BackEnd/Migrations/DataContextModelSnapshot.cs

*.dll
HMS-BackEnd/bin/Debug/
HMS-BackEnd/.vs/HMS-BackEnd/project-colors.json
HMS-BackEnd/bin/Debug/net6.0/
HMS-BackEnd/HMS-BackEnd.csproj
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
HMS-BackEnd/bin/Debug/net6.0/HMS-BackEnd.deps.json
HMS-BackEnd/bin/Debug/net6.0/HMS-BackEnd.dll
HMS-BackEnd/bin/Debug/net6.0/HMS-BackEnd.pdb
HMS-BackEnd/bin/Debug/net6.0/ref/HMS-BackEnd.dll
HMS-BackEnd/HMS-BackEnd.csproj
HMS-BackEnd/Migrations/DataContextModelSnapshot.cs
HMS-BackEnd/obj/Debug/net6.0/HMS-BackEnd.assets.cache
*.cache
HMS-BackEnd/obj/Debug/net6.0/HMS-BackEnd.csproj.FileListAbsolute.txt
HMS-BackEnd/obj/Debug/net6.0/HMS-BackEnd.dll
HMS-BackEnd/obj/Debug/net6.0/HMS-BackEnd.pdb
HMS-BackEnd/obj/Debug/net6.0/ref/HMS-BackEnd.dll
HMS-BackEnd/obj/HMS-BackEnd.csproj.nuget.dgspec.json
HMS-BackEnd/obj/staticwebassets.pack.sentinel
HMS-BackEnd/.vs/HMS-BackEnd/FileContentIndex/73acca96-ae82-4285-aa71-1b72bcef1493.vsidx


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono Auto Generated Files
mono_crash.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono Auto Generated Files
mono_crash.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recy

