
*.dll
*.dll
*.sentinel
*.csproj
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.dll
*.csproj
*.dll
*.sentinel
*.cache
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.v1
HMS-BackEnd/.vs/HMS-BackEnd/v17/.suo
*.v2
node_modules/
HMS-BackEnd/bin/
HMS-BackEnd/obj/
*.sentinel

HMS-BackEnd/obj/HMS-BackEnd.csproj.nuget.dgspec.json
HMS-BackEnd/Migrations/

HMS-BackEnd/Migrations/DataContextModelSnapshot.cs

*.dll
HMS-BackEnd/bin/Debug/
