h4{
    font-family: 'Mulish', sans-serif;
    padding-bottom: 20px;
    font-size: 30px;
}

.d-flex{
    display: flex!important;
    justify-content: center;
}

.border-bottom{
    border-width: 3px!important;
}

.trendingProducts{
    margin-top : 120px!important;
    margin-bottom: 70px!important;
}


/* pagination css  */

.pagination-center{
  margin-bottom: 50px;

}

.paginationButtons{
    width:60px;
    height: 60px;
    background-color: #79AB71;
    color : white;
    border-radius: 50%;
    margin-top: 0!important;
}

.pagination-center li, .pagination-center a{
    border : none!important;
    color : black;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    margin-top:20px;
}

.arrow{
    font-size: 35px;
    position: absolute;
    left: 25px;
    top: 10px;
}

a::after{
    text-decoration: none;
}
.main-tile-heading{
    font-weight: 700;
    font-family: 'Mulish';
    font-size: 30px;

}
@media only screen and (max-width:600px)
{
    h4{

        font-size: 25px;
    }

   

}