<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
        <!-- <i class="bi bi-rocket-fill rocket"></i> -->
        <img src="../../../../assets/Images/plantTransparentIcon.png" style="width : 120px"alt="">
      <h3>Welcome</h3>
      <p class="fBold">You are only one step !!</p>

      <p class="m-0 fBold">Already a User?</p>
       <input class="mt-0" type="submit" name="" value="Login" (click)="navigateToLogin()" /><br />
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link"
            id="home-tab"
            data-toggle="tab"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            (click)="activeTab = 'Owner'"
            [ngClass]="activeTab == 'Owner'?'active':''"               

            >Farm Owner</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            (click)="activeTab = 'Buyer'"
            [ngClass]="activeTab == 'Buyer'?'active':''"   
                        
 >Buyer</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
        <div *ngIf="activeTab == 'Owner'">
            <h3 class="register-heading">Apply as Farm Owner</h3>
            <form [formGroup]="farmOwnerForm" (ngSubmit)="RegisterasFarmOwner()">
              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name *"
                      value=""
                      formControlName="firstName"
                    />
                  </div>
                 
                  <div class="form-group">                   
                      <select name="location" id="" class="form-control" formControlName="location">
                          <option value="Select Location" [selected]="true">Select Location</option>
                          <option value="Aurangabad">Aurangabad</option>
                          <option value="Pune">Pune</option>
                          <option value="Nanded">Nanded</option>
                          <option value="Jalgoan">Jalgoan</option>
                          <option value="Mumbai">Mumbai</option>
                      </select>
                    </div>
  
                  
                    <div class="form-group">
                      <input
                        type="text"
                        maxlength="10"
                        minlength="10"
                        class="form-control"
                        placeholder="Phone *"
                        value=""
                        formControlName="phone"
                      />
                    </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password *"
                      value=""
                      formControlName="password"
                    />
                  </div>               
                
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name *"
                      value=""
                      formControlName="lastName"
                    />
                  </div>
              
                  <div class="form-group">
                      <select name="FarmType" class="form-control" id="" formControlName="farmType">
                          <option value="Select Farm Type" [selected] = 'true'>Select Farm Type</option>
                          <option value="Floriculture Farm">Floriculture Farm</option>
                          <option value="Sericulture">Sericulture</option>
                          <option value="Pomology/Fruit Farm">Pomology/Fruit Farm</option>
                      </select>
                    </div>    
                    
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email *"
                        value=""
                        formControlName="email"
                      />
                    </div>
  
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password *"
                        value=""
                      />
                    </div>
               
                  <input type="submit" class="btnRegister" value="Register" />
                </div>
              </div>
            </form>
           
        </div>

        <div *ngIf="activeTab == 'Buyer'">
            <h3 class="register-heading">Apply as Buyer</h3>
      <form [formGroup]="BuyerForm" (ngSubmit)="RegisterAsBuyer()">
        <div class="row register-form">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="First Name *"
                value=""
                formControlName="firstName"

              />
            </div>               
         

            
              <div class="form-group">
                <input
                  type="text"
                  maxlength="10"
                  minlength="10"
                  class="form-control"
                  placeholder="Phone *"
                  value=""
                  formControlName="phone"

                />
              </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                value=""
                formControlName="password"

              />

              <textarea
              type="text"
              class="form-control mt-3"
              placeholder="Shipping Address *"
              value=""
              cols="6"
              rows="6"
              formControlName="address"

            ></textarea>
            </div> 
            
          
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Last Name *"
                value=""
                formControlName="lastName"

              />
            </div>           
            
              
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email *"
                  value=""
                  formControlName="email"

                />
              </div>

              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password *"
                  value=""
                />
              </div>
             
              <input type="submit" class="btnRegister" value="Register" />
         
          </div>

         

        </div>
      </form>
           
        </div>
    </div>
  
      </div>
    </div>
  </div>
</div>
